body{
    margin: 0px;
    padding: 0px;
    background: url('img/yoga.jpg');
    color: white;
}
.left{
    display: inline-block;
    border: 2px solid red;
    position: absolute;
    top: 12px;
    left: 20px;
}
.mid{
    display: block;
    width: 33%;
    margin: 12px auto;
    border: 2px solid red;
}
.right{
    display: inline-block;
    border: 2px solid red;
    position: absolute;
    top: 12px;
    right: 20px;
}
.navbar{
    display: inline-block;
}
.navbar li{
    display: inline-block;
    padding: 30px 20px;
}
.navbar li a{
    color: white;
    text-decoration: none;
}
